.uniForm {
    font-family: "Lucida Sans Unicode","Lucida Grande",Arial,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #343434;
}

.uniForm label,
.uniForm .label {
    float: left;
    display: block;
    margin: 0;
    padding: 0 0 0.2em 0;
    clear: both;
    width: 100%;
}

.uniForm .ctrlHolder {
    border-bottom: 1px solid #EFEFEF;
    padding: 0.5em 1em 0.7em 1em;
}

.uniForm .checkbox {
    padding: 1em 1em 0 1em;
    border: 0;
}

.uniForm .checkbox label {
    width: auto;
    padding-right: 1em;
}

.uniForm .textinput {
    width: 100%;
}

.uniForm a.secondaryAction {
    display: block;
    width: auto;
    float: right;
}

.uniForm .buttonHolder {
    padding: 1em;
}

.errorField {
    margin: 0;
    font-weight: bold;
}

.error, .alert, .notice, .success, .info {padding:0.8em;border:2px solid #ddd !important;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4 !important;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324 !important;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880 !important;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4 !important;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
