{% extends "base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load account_tags %}

{% block head_title %}{% trans "Create profile" %}{% endblock %}

{% block body %}
    
<h1>{% trans "Create profile" %}</h1>

<div class="grid_6">
    <form class="profile uniForm" method="POST" action="{% url profiles_create_profile %}">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="buttonHolder">
                <button class="primaryAction" type="submit">{% trans "Create" %}</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}

